<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Conversão de Moeda</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="form-box">
    <h1>Conversão de Dólar para Real</h1>

    <form th:action="@{/realizar-conversao}" method="post" th:object="${conversao}">
        <label for="cotacao">Cotação Atual (US$):</label>
        <input type="number" id="cotacao" th:field="*{cotacao}" step="0.01" required>

        <label for="valorDolar">Quantidade em Dólar (US$):</label>
        <input type="number" id="valorDolar" th:field="*{valorDolar}" step="0.01" required>

        <button type="submit">Converter</button>
    </form>
</div>
</body>
</html>
